"opencv-2.4
if filereadable("$HOME/Projects/opencv-2.4/src/modules/tags")
  set tags+=$HOME/Projects/opencv-2.4/src/modules/tags
endif

if filereadable("$HOME/Projects/opencv-2.4/src/modules/cscope.out")
  set nocsverb
  cs add $HOME/Projects/opencv-2.4/src/modules/cscope.out
  set csverb
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/calib3d/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/calib3d/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/core/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/core/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/features2d/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/features2d/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/gpu/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/gpu/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/imgproc/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/imgproc/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/legacy/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/legacy/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/nonfree/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/nonfree/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/ocl/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/ocl/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/python/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/python/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/stitching/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/stitching/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/ts/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/ts/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/videostab/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/videostab/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/world/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/world/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/androidcamera/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/androidcamera/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/contrib/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/contrib/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/dynamicuda/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/dynamicuda/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/flann/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/flann/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/highgui/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/highgui/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/java/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/java/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/ml/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/ml/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/objdetect/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/objdetect/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/photo/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/photo/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/superres/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/superres/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/video/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/video/include
endif

if isdirectory('$HOME/Projects/opencv-2.4/src/modules/viz/include')
  set path+=$HOME/Projects/opencv-2.4/src/modules/viz/include
endif


"pcl-1.10
if filereadable("/usr/include/pcl-1.10/tags")
  set tags+=/usr/include/pcl-1.10/tags
endif

if filereadable("/usr/include/pcl-1.10/cscope.out")
  set nocsverb
  cs add /usr/include/pcl-1.10/cscope.out
  set csverb
endif

if isdirectory('/usr/include/pcl-1.10')
  set path+=/usr/include/pcl-1.10
endif

"eigen3
if filereadable("/usr/include/eigen3/tags")
  set tags+=/usr/include/eigen3/tags
endif

if filereadable("/usr/include/eigen3/cscope.out")
  set nocsverb
  cs add /usr/include/eigen3/cscope.out
  set csverb
endif

if isdirectory('/usr/include/eigen3')
  set path+=/usr/include/eigen3
endif

"SSBA-4.0
if filereadable("$HOME/Projects/SSBA-4.0/src/tags")
  set tags+=$HOME/Projects/SSBA-4.0/src/tags
endif

if filereadable("$HOME/Projects/SSBA-4.0/src/cscope.out")
  set nocsverb
  cs add $HOME/Projects/SSBA-4.0/src/cscope.out
  set csverb
endif

if isdirectory('$HOME/Projects/SSBA-4.0/src')
  set path+=$HOME/Projects/SSBA-4.0/src
endif

